@model bookApp.Models.BookPosition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookPosition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibraryQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTransferableToStore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTransferableToStore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalFee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
