@model IEnumerable<bookApp.Models.BookPosition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Admin">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibraryQuantity)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.IsTransferableToStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalFee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryQuantity)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.IsTransferableToStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalFee)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Admin" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Admin" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-controller="Admin" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
